
  .accordion-swift-item {
    border-bottom: 1px solid var(--border);
    background-color: var(--bg);
    overflow: hidden;
    padding: 0;

    .accordion-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: var(--padding-y) var(--padding-x);
      background: var(--bg);
      color: var(--fg);
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      border: none;

      &:hover {
        background: var(--border);
        outline: 2px solid var(--accent);
        outline-offset: 2px;
      }
    }

    .accordion-body {
      overflow: hidden;
      padding: 0 var(--padding-x);
      color: var(--fg-secondary);
      line-height: 1.5;
    }
  }
