/* Container for each accordion item */
.accordion-swift-item {
  border: 1px solid #ddd;
  overflow: hidden;
  padding: var(--padding-y) 0;
}

.accordion-swift-item[data-state="open"] {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.accordion-header {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  width: 100%;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  padding-inline: var(--padding-x);
  position: relative;
}

.accordion-body {
  padding-inline: var(--padding-x);
  line-height: 1.5;
}
