.accordion-group {
  border-radius: 0.5rem;
  overflow: hidden;
}

.accordion-item {
  &:not([data-child="current"]) {
    transition: border-radius 200ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  &[data-child="another"] {
    &:first-of-type {
      border-radius: 0.5rem 0.5rem 0 0 !important;
    }
    &:last-of-type {
      border-radius: 0 0 0.5rem 0.5rem !important;
    }
  }

  &[data-child="prev"] {
    &:first-of-type, &:last-of-type {
      border-radius: 0.5rem !important;
    }
    &:not(:first-of-type):not(:last-of-type) {
      border-radius: 0.5rem 0.5rem 0 0 !important;
    }
  }

 &[data-child="beetween"] {
    border-radius: 0.5rem !important;
 }

  &[data-child="next"] {
    &:not(:first-of-type):not(:last-of-type) {
      border-radius: 0 0 0.5rem 0.5rem !important;
    }

    &:first-of-type,
    &:last-of-type {
      border-radius: 0.5rem !important;
    }
  }
}
