.root {
  display: inline-block;
  width: 100%;
  position: relative;
}

.blockquote {
  overflow: hidden;
  transition: max-height 0.15s cubic-bezier(0.17, 0.67, 0.62, 1), opacity 0.25s ease-in;
  opacity: 1;
}

.blockquote.expanded {
  max-height: 500px;
}

.gradientContainer {
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
  min-height: 0;
  max-height: inherit;
  transition: transform 0.25s ease, opacity 0.25s ease;
  will-change: transform, opacity;
}

.collapsed {
  mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
  opacity: 0.8;
  cursor: pointer;
}

.collapseIcon {
  position: absolute;
  display: grid;
  place-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  bottom: 0;
  right: 0;
  transition: transform 0.25s ease, opacity 0.25s ease;
}

.clickable {
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
}
