.iconContainer {
  height: 30px;
  padding: 0 5px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  max-width: 30px;
  transition: max-width 300ms ease-in-out, background-color 300ms linear 300ms;

  &:hover,
  &:focus-visible {
    background-color: rgba(var(--awe-palette-primary-mainChannel) / 0.3);
    max-width: 200px;
    transition: max-width 300ms ease-in-out, background-color 300ms linear 100ms;
  }

  &:focus-visible {
    outline: 1px solid rgba(var(--awe-palette-primary-mainChannel) / 0.3);
    outline-offset: 4px;
  }

  &:active {
    opacity: 0.7;
  }

  &::after {
    content: attr(tooltip);
    margin-left: 12px;
    animation: fadeIn 600ms linear forwards;
  }

  .iconSVG {
    aspect-ratio: 1;
  }

  .iconSpacer {
    flex-grow: 1;
  }

  .iconDivider {
    height: 18px;
    width: 1px;
    background-color: rgb(83, 100, 124);
  }

  .iconLabel {
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 8px;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}
