.TabList {
  position: sticky;
  top: 0;
  flex-shrink: 0;
  z-index: 10;
  background-color: var(--awe-palette-background-default);

  &-Section {
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-behavior: smooth;
    overflow-y: hidden;
     will-change: transform;
  }

  &-Pannels &-Section {
    padding-inline: 0.75rem;
  }

  &-decorator {
    animation: fadeIn 0.3s ease forwards;
  }
}
