.trackNavigationBorder {
  position: relative;
  height: var(--mask-height);
  margin: 0.125rem 0;
  width: fit-content;
  min-width: 0.125rem;
  overflow-y: hidden;

}

.small {
  transform: scaleX(1);
}

.medium {
  transform: scaleX(2);
}

.large {
  transform: scaleX(3);
}

.trackNavigationBorderWrapper1 {
  height: 100%;
  width: 100%;
  border-radius: 0.0625rem;
  background: var(--awe-palette-primary-main);
}

.trackNavigationBorderWrapper {
  background-color: var(--awe-palette-background-paper);
  position: relative;
  will-change: transform;
  transition: transform var(--slide-transition);
}

.trackNavigationBorderMark {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background: var(--awe-palette-primary-main);
  border-radius: 0.0625rem;
  will-change: transform;
  transition: transform var(--slide-transition);
  transform: translateY(var(--translate-y));
  height: var(--height);
}
