.HeaderSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.Heading {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  color: var(--awe-palette-text-primary);
}

.Avatar {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }
}

.Icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--awe-palette-secondary-500);
    backdrop-filter: blur(1rem);
  }

  &:last-of-type {
    margin-left: auto;
  }
}
