.ActionWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem;
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover:not(.Disabled) {
    background-color: var(--awe-palette-secondary-main);
  }

  &:active:not(.Disabled) {
    background-color: var(--awe-palette-secondary-dark);
  }

  &.Disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.Decorator {
  font-size: 1.5rem;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
}

.Container {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 8px;
  text-align: left;
}

.Title {
  margin: 0;
  font-size: var(--font-size-subtitle);
  color: var(--awe-palette-text-primary);
  font-weight: 500;
}

.Subtitle {
  font-size: var(--font-size-desc);
  color: var(--awe-palette-text-secondary);
  font-weight: 400;
}
