.stars {
  width: 1px;
  height: 1px;
  background: transparent;
  position: fixed;
  z-index: -1;
  
  box-shadow:
    rgb(255, 255, 255) 1066.22px 765.485px,
    rgb(255, 255, 255) 355.875px 251.563px,
    rgb(255, 255, 255) 1163.92px 133.86px,
    rgb(255, 255, 255) 743.871px 112.16px,
    rgb(255, 255, 255) 213.983px 29.9223px,
    rgb(255, 255, 255) 649.835px 582.691px,
    rgb(255, 255, 255) 349.68px 520.24px,
    rgb(255, 255, 255) 1355px 393.838px,
    rgb(255, 255, 255) 474.168px 778.092px,
    rgb(255, 255, 255) 254.999px 483.921px,
    rgb(255, 255, 255) 152.859px 97.4832px,
    rgb(255, 255, 255) 37.2294px 654.731px,
    rgb(255, 255, 255) 1151.52px 689.637px,
    rgb(255, 255, 255) 1512.26px 571.845px,
    rgb(255, 255, 255) 778.849px 840.974px,
    rgb(255, 255, 255) 1270.48px 207.286px,
    rgb(255, 255, 255) 729.906px 79.141px,
    rgb(255, 255, 255) 476.587px 473.099px,
    rgb(255, 255, 255) 215.215px 258.68px,
    rgb(255, 255, 255) 518.259px 696.282px,
    rgb(255, 255, 255) 1471.29px 373.707px,
    rgb(255, 255, 255) 1086.49px 522.406px,
    rgb(255, 255, 255) 45.0469px 21.6575px,
    rgb(255, 255, 255) 913.509px 794.584px,
    rgb(255, 255, 255) 508.62px 253.638px,
    rgb(255, 255, 255) 793.127px 455.437px,
    rgb(255, 255, 255) 690.618px 465.386px,
    rgb(255, 255, 255) 164.206px 102.387px,
    rgb(255, 255, 255) 1356.87px 489.019px,
    rgb(255, 255, 255) 870.755px 274.676px,
    rgb(255, 255, 255) 708.939px 153.849px,
    rgb(255, 255, 255) 1130.15px 198.326px,
    rgb(255, 255, 255) 642.512px 223.695px,
    rgb(255, 255, 255) 1290.5px 303.347px,
    rgb(255, 255, 255) 118.237px 383.492px,
    rgb(255, 255, 255) 263.214px 534.911px,
    rgb(255, 255, 255) 667.095px 661.58px,
    rgb(255, 255, 255) 132.308px 565.936px,
    rgb(255, 255, 255) 1208.64px 741.068px,
    rgb(255, 255, 255) 1287.79px 162.657px,
    rgb(255, 255, 255) 361.353px 336.125px,
    rgb(255, 255, 255) 1535.11px 381.666px,
    rgb(255, 255, 255) 812.597px 126.915px,
    rgb(255, 255, 255) 1186.11px 248.864px,
    rgb(255, 255, 255) 487.652px 551.089px,
    rgb(255, 255, 255) 768.205px 681.695px,
    rgb(255, 255, 255) 175.712px 662.707px,
    rgb(255, 255, 255) 311.518px 92.0255px,
    rgb(255, 255, 255) 766.84px 23.1286px,
    rgb(255, 255, 255) 311.232px 603.114px,
    rgb(255, 255, 255) 1221.67px 844.429px,
    rgb(255, 255, 255) 929.207px 123.118px,
    rgb(255, 255, 255) 1060.87px 16.847px,
    rgb(255, 255, 255) 119.325px 705.439px,
    rgb(255, 255, 255) 551.135px 629.764px,
    rgb(255, 255, 255) 294.975px 342.36px,
    rgb(255, 255, 255) 24.1248px 756.974px,
    rgb(255, 255, 255) 442.95px 226.597px,
    rgb(255, 255, 255) 961.94px 743.969px,
    rgb(255, 255, 255) 195.852px 842.85px,
    rgb(255, 255, 255) 350.315px 199.483px,
    rgb(255, 255, 255) 1107.28px 252.307px,
    rgb(255, 255, 255) 1143.02px 805.538px,
    rgb(255, 255, 255) 1086.13px 340.897px,
    rgb(255, 255, 255) 1297.74px 21.6057px,
    rgb(255, 255, 255) 816.788px 87.1544px,
    rgb(255, 255, 255) 111.826px 149.038px,
    rgb(255, 255, 255) 1272.54px 62.226px,
    rgb(255, 255, 255) 1467.76px 861.271px,
    rgb(255, 255, 255) 1226.44px 484.133px,
    rgb(255, 255, 255) 1413.48px 599.031px,
    rgb(255, 255, 255) 459.055px 578.675px,
    rgb(255, 255, 255) 917.052px 836.408px,
    rgb(255, 255, 255) 1070.02px 727.044px,
    rgb(255, 255, 255) 797.198px 674.95px,
    rgb(255, 255, 255) 563.589px 822.536px,
    rgb(255, 255, 255) 1366.03px 767.089px,
    rgb(255, 255, 255) 1193.39px 130.35px,
    rgb(255, 255, 255) 1069.95px 716.118px,
    rgb(255, 255, 255) 74.8673px 720.298px,
    rgb(255, 255, 255) 906.678px 341.671px,
    rgb(255, 255, 255) 114.269px 827.285px;
}


.meteors-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.meteor {
  position: fixed;
  width: 300px;
  height: 1px;
  opacity: 0;
  z-index: -1;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  
}

@keyframes meteor-fall {
  0% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) translateX(50vw); /* Adjust X direction for horizontal movement */
    opacity: 0;
  }
}
