/* Right-to-Left Animations */
.rightToLeft-enter {
  transform: translateX(100%) scale(0.95);
  opacity: 0.95;
}
.rightToLeft-enter-active {
  transform: translateX(0) scale(1);
  opacity: 1;
  transition:
    transform 250ms ease-out,
    opacity 250ms ease-in-out;
}
.rightToLeft-exit {
  transform: translateX(0) scale(1);
  opacity: 1;
}
.rightToLeft-exit-active {
  transform: translateX(-100%) scale(0.95);
  opacity: 0.75;
  transition:
    transform 250ms ease-out,
    opacity 250ms ease-in-out;
}

/* Fast Right-to-Left Animations */
.rightToLeft-fast-enter {
  transform: translateX(100%) scale(0.95);
  opacity: 0.95;
}
.rightToLeft-fast-enter-active {
  transform: translateX(0) scale(1);
  opacity: 1;
  transition:
    transform 150ms ease-out,
    opacity 150ms ease-in-out;
}
.rightToLeft-fast-exit {
  transform: translateX(0) scale(1);
  opacity: 1;
}
.rightToLeft-fast-exit-active {
  transform: translateX(-100%) scale(0.95);
  opacity: 0.75;
  transition:
    transform 150ms ease-out,
    opacity 150ms ease-in-out;
}

/* Left-to-Right Animations */
.leftToRight-enter {
  transform: translateX(-100%) scale(0.95);
  opacity: 0.95;
}
.leftToRight-enter-active {
  transform: translateX(0) scale(1);
  opacity: 1;
  transition:
    transform 250ms ease-out,
    opacity 250ms ease-in-out;
}
.leftToRight-exit {
  transform: translateX(0) scale(1);
  opacity: 1;
}
.leftToRight-exit-active {
  transform: translateX(100%) scale(0.95);
  opacity: 0.75;
  transition:
    transform 250ms ease-out,
    opacity 250ms ease-in-out;
}

/* Fast Left-to-Right Animations */
.leftToRight-fast-enter {
  transform: translateX(-100%) scale(0.95);
  opacity: 0.95;
}
.leftToRight-fast-enter-active {
  transform: translateX(0) scale(1);
  opacity: 1;
  transition:
    transform 150ms ease-out,
    opacity 150ms ease-in-out;
}
.leftToRight-fast-exit {
  transform: translateX(0) scale(1);
  opacity: 1;
}
.leftToRight-fast-exit-active {
  transform: translateX(100%) scale(0.95);
  opacity: 0.75;
  transition:
    transform 150ms ease-out,
    opacity 150ms ease-in-out;
}

.zoomIn-enter {
  transform: scale(0.95);
  opacity: 0; /* Start from fully transparent */
}

.zoomIn-enter-active {
  transform: scale(1);
  opacity: 1; /* End fully opaque */
  transition:
    transform 250ms ease-out,
    opacity 250ms ease-in-out;
}

.zoomIn-exit {
  transform: scale(1);
  opacity: 1; /* Start fully opaque */
}

.zoomIn-exit-active {
  transform: scale(0.95);
  opacity: 0; /* Fade out to fully transparent */
  transition:
    transform 250ms ease-out,
    opacity 250ms ease-in-out;
}

.zoomOut-enter {
  transform: scale(1.05);
  opacity: 1; /* Start fully opaque */
}

.zoomOut-enter-active {
  transform: scale(1);
  opacity: 1; /* End fully opaque */
  transition:
    transform 250ms ease-out,
    opacity 250ms ease-in-out;
}

.zoomOut-exit {
  transform: scale(1);
  opacity: 1; /* Start fully opaque */
}

.zoomOut-exit-active {
  transform: scale(1.05);
  opacity: 0; /* Fade out to fully transparent */
  transition:
    transform 250ms ease-out,
    opacity 250ms ease-in-out;
}


.toTop-enter {
  opacity: 0;
  transform: translateY(-100%);
}
.toTop-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 250ms ease,
    transform 250ms ease;
}
.toTop-exit {
  opacity: 1;
  transform: translateY(0);
}
.toTop-exit-active {
  opacity: 0;
  transform: translateY(-100%);
  transition:
    opacity 250ms ease,
    transform 250ms ease;
}

.toBottom-enter {
  opacity: 0;
  transform: translateY(100%);
}
.toBottom-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 250ms ease,
    transform 250ms ease;
}

.toBottom-exit {
  opacity: 1;
  transform: translateY(0);
}

.toBottom-exit-active {
  opacity: 0;
  transform: translateY(100%);
  transition:
    opacity 250ms ease,
    transform 250ms ease;
}

.container {
  position: relative;
}

.page {
  position: absolute;
  left: 15px;
  right: 15px;
}

.page-enter {
  opacity: 0;
  transform: scale(1.1);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}


.scale-transition {
  will-change: opacity, transform;

  &-enter-active, &-exit {
    transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1), transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &-enter {
    opacity: 0;
    transform: scale(0.85);
  }

  &-enter-active {
    opacity: 1;
    transform: scale(1);
  }

  &-exit {
    opacity: 1;
    transform: scale(1);
  }

  &-exit-active {
    opacity: 0;
    transform: scale(0.85);
  }
}
