.SearchResults {
  --results-padding: 0.25rem 0.5rem;
  position: absolute;
  top: calc(100% + 14px);
  left: 0;
  right: 0;
  
  background-color: var(--awe-palette-background-default);
  z-index: 1;
  border-radius: var(--awe-radius-md);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 1.75px;
  gap: 1.75px;

  &:last-of-type {
    justify-content: end;
  }
  
  &__Loading{
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: -100%;
      right: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(90deg, transparent, rgba(var(--awe-palette-primary-mainChannel) / 0.945), transparent);
      z-index: 1;
      animation: swipe-gradient var(--miller-duration) linear infinite; // One second on Planet Miller :)
      will-change: transform; 
    }
  }
}

@keyframes swipe-gradient {
  0% {
      transform: translateX(-100);
  }
  100% {
      transform: translateX(200%);
  }
}

.SearchHeader, .SearchFooter {
  background-color: rgba(var(--awe-palette-secondary-mainChannel) / 0.85);
  backdrop-filter: blur(10rem); 
  width: 100%;
}

.SearchHeader {
  display: flex;
  z-index: 3;  
  border-start-end-radius: calc(var(--awe-radius-md) - 1.75px);
  border-start-start-radius: calc(var(--awe-radius-md) - 1.75px);  
  padding: 0.25rem 0.25rem 0;

  &:first-of-type {
    align-items: center;
  }
}

.SearchContent {
  position: relative;
  z-index: 2;  
  background-color: rgba(var(--awe-palette-background-paperChannel) / 0.9);
  backdrop-filter: blur(10rem);
  overflow-x: hidden;
}

.SearchFooter {
  z-index: 2;  
  border-end-start-radius: calc(var(--awe-radius-md) - 1.75px);
  border-end-end-radius: calc(var(--awe-radius-md) - 1.75px);
}

.TabBar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 100%;
  overflow-x: auto;
}

.ResultsList {
  padding: 0.25rem 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 500px;
}

.unactive {
  opacity: 0;
}