.MediaPost {
  --padding: 0.5rem;
  width: 100%;
  position: relative;
    border-radius: 1rem;
  z-index: 2;
}

.MediaPostHeader {
  position: absolute;
  top: 0;
  left: 0;
  padding: var(--padding);
  padding-inline-start: 3.5rem;
  z-index: 1;
  mix-blend-mode: difference;

}

.MediaAvatar {
  position: absolute;
  top: var(--padding);
  left: var(--padding);
  z-index: 1;
}


.MediaPostBody {
  position: relative;
}

.MediaImage {
  width: 100%; /* Ensure it fills the container */
  aspect-ratio: 1/1;
  border-radius: 1rem;
}

.MediaActions {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.MediaAction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
