.memberCard {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgba(var(--awe-palette-secondary-mainChannel) / 0.5);
  cursor: pointer;
  box-shadow: var(--awe-palette-background-paper, 0px 4px 12px rgba(0, 0, 0, 0.5));
  transition: all 0.3s ease;
  z-index: 2;
  position: relative;

  &:hover {
    background-color: var(--awe-palette-secondary-main);
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
  }

  &__decorator {
    display: flex;
    align-items: center;
  }

  &__divider {
    font-size: small;
    padding-left: 3.5rem;
  }
}
