.SlideButtonRoot {
  position: relative;
  overflow: hidden;


  &:hover .SlideChild {
    filter: brightness(1.05);
  }
}

.SlideChild {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  will-change: transform, opacity;
}

.HiddenChild {
  visibility: hidden;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SlideContent {
  width: 100%;
  height: 100%; 
}

.SlideTrack {
  position: absolute;
}

.mark {
  position: absolute;
  bottom: 2px;
  right: 2px;
  font-size: small;
}