.RightColumn {
  position: relative;
  width: 100%;
  height: 100%;
}

.RightHeaderNavigation {
  padding: 0 0.75rem;
}

.SliderColumn {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--awe-palette-secondary-main);
}
