.RightColumnWrapper {
  position: absolute;
  right: 0;
  height: 100%;
  overflow: hidden;
  background-color: var(--awe-palette-background-default);
  z-index: 100;
  transform: translate3d(0, 0, 0);
}

.RightColumn {

  @media (min-width: 649px) {
    width: 100%;
    max-width: var(--right-column-width);
  }

  @media (max-width: 648px) {
    width: 100vw;
  }
}

.RightHeaderNavigation {
  padding: 0 0.75rem;
}

.ChatProfileTabs {
  position: relative;
  height: calc(var(--vh, 1vh) * 100 - 35.2px);

  .IsFullPage {
    overflow-y: scroll !important;
  }
}
