.RightColumn {
  position: absolute;
  right: 0;
  height: 100%;
  overflow: hidden;
  min-width: 0;
  max-width: var(--right-column-width);
  background-color: var(--awe-palette-background-default);
  z-index: 100;
}

.RightHeaderNavigation {
  padding: 0 0.75rem;
}
