.ChatListItem {
  min-height: 3rem;
  padding-inline: 1rem 0.25rem;
  padding-inline-start: 4.1rem !important;
  padding-block: 0.5625rem;

  transition: background-color 125ms ease-in-out;

  &:not(:active) {
      border-radius: var(--awe-radius-md) !important;
  }

  &:hover, &:active {
    background-color: var(--awe-palette-primary-main);
  }
}

.TopActions {
  margin-top: 0.125rem;
  font-size: var(--font-size-desc);
  font-weight: 400;
  color: var(--awe-palette-text-secondary);
}

.Avatar {
  position: absolute !important;
  inset-inline-start: 0.5625rem !important;
  width: 3rem !important;
  height: 3rem !important;
}
