.LeftDropdown {
  padding: 0.5rem;

  & > *:not(.ActionsTitle):not(:last-of-type) {
    margin-bottom: 0.25rem;
  }
}

.Divider {
  height: 1.25rem;
  width: 2px;
  border-radius: 2px;
  background-color: var(--awe-palette-primary-main);
  border-color: var(--awe-palette-divider);
}

.ActionsTitle {
  font-weight: 700;
  color: var(--awe-palette-text-secondary);
}

.UserName {
  font-weight: 700;
  color: var(--awe-palette-text-primary);
}

.badge {
  display: inline-block;
  width: fit-content;
  background-color: rgba(var(--awe-palette-primary-mainChannel) / 0.5);
  color: var(--awe-palette-text-primary);
  border-radius: 10rem;
  padding: 0rem 0.25rem;
}

.HeadBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  border-start-start-radius: inherit;
  border-start-end-radius: inherit;
}

.User {
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-inline-start: 3.25rem;
  line-height: 1.3125rem;

  
}

.UserDescription {
  font-size: var(--font-size-desc);
  font-weight: 400;
  color: var(--awe-palette-text-secondary);

  --webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  @media (max-width: 640px) {
    --webkit-line-clamp: 1;
  }
}

.Avatar {
  position: absolute !important;
  inset-inline-start: 0rem;
  width: 2.65rem !important;
  height: 2.65rem !important;
}

.UserManageSection {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;
}

.SettingsButton {
  position: relative;
  transition: transform 200ms ease-in-out;

  &:hover {
    .SettingIcon {
      transform: translate(-5px, 0px) rotate(-0.1625turn);
    }
    .ArrowIcon {
      opacity: 1;
      transform: translateX(7px);
    }
  }
}

.SettingIcon {
  transition: transform 200ms ease-in-out;
}

.ArrowIcon {
  position: absolute;
  transition:
    transform 150ms ease-in-out,
    opacity 150ms ease-in-out;
  transform: translateX(-5px);
  inset-inline-end: 0.25rem;
  opacity: 0;
  will-change: transform, opacity;
}

.SearchInput {
  padding: 0 0.25rem 0.25rem;
}