.ContextMenuActions {
  padding: 0.25rem;
}

.keyNavigation {
  border-top: 1px solid    var(--awe-palette-divider);
  padding: 0.25rem  0.5rem;
  justify-content: space-between;
  background-color: var(--awe-palette-secondary-dark);
}
