

.LeftMainSearchBody {
  width: 100%;
  z-index: 100;
}

.TabListBorders {
  position: sticky;
  top: 0;
  padding-top: 0.25rem;
  border-bottom: 2px solid var(--awe-palette-secondary-main);
}

.SeacrhResultTitle {
  position: sticky;
  top: 0;
  background-color: var(--awe-palette-background-default);
  padding: 0.25rem 0.5rem;

}

.SeacrhResultTitle {
  padding-bottom: 0.5rem;
}

.SearchList {
  display: contents;
}

.SearchResult {
  width: 100%;
  height: 100%;
}
