.LeftColumn {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  border-right: 2px solid var(--awe-palette-secondary-main);
  background-color: var(--awe-palette-background-default);
  padding: 0.5rem;
  width: 100%;
  max-width: var(--left-column-width);

  @media (max-width: 648px) {
    transition: transform var(--transition-standard-in, 0.3s ease-in);

    &[data-shown="true"] {
      transform: translate3d(0, 0, 0);
    }

    &[data-shown="false"] {
      transform: translate3d(calc(-1 * var(--left-column-width, 380px) * var(--reflect, 1)), 0, 0);
    }

    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100dvw;
    z-index: 4;
    border-right: none;
    border-bottom: 1px solid var(--awe-palette-divider);
  }
}
