.LeftColumn {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  border-right: 2px solid rgba(var(--awe-palette-primary-mainChannel) / 0.875);
  background-color: var(--awe-palette-background-default);
  padding: 0.5rem;

  @media (max-width: 640px) {
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100dvw;
    z-index: 4;
    border-right: none;
    border-bottom: 1px solid var(--awe-palette-divider);
    transform: translateX(-100%);
    transition: transform 250ms ease-out;

    &[data-placement="show"] {
      transform: translateX(0);
    }
  }
}
