.Root {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 1rem;
  padding: 1rem 10rem;

  @media (max-width: 1200px) {
    grid-template-columns: 1fr;
    padding: 1rem 5rem;

    .Right {
      position: absolute;
      height: 100dvh;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      max-width: 300px;
      padding: 1rem;
      background-color: var(--RightNavigation-bg);
      z-index: 10000;
    }
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    padding: 0.5rem;
  }
}

.Left {
  /* Styles for the left section */
}

.Right {
  /* Styles for the right section */
}
