.MiddleInput,
.MiddleInputPortal {
  padding: 0.2rem var(--chat-padding-x, 0.125rem);
}

.MiddleInput {
  display: flex;
  align-items: flex-end;
  position: relative;
  gap: 0.25rem;
  transition: transform var(--transition-standard-in, 0.3s ease-in);
}

.MiddleInputPortal {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
  z-index: 1000;
}

.MiddleInputPortalWrapper {
  display: flex;
  align-items: center;
  overflow-x: auto;
  width: fit-content;
  background: var(--awe-palette-background-paper);
  box-shadow: var(--awe-shadow-elevation-2, 0 2px 4px rgba(0, 0, 0, 0.1));
  padding: 0.5rem;
  border-radius: 0.5rem;
  max-width: 100%;
  gap: 0.25rem;
  transform-origin: bottom center;
}

.MiddleInputComposer {
  background: var(--awe-palette-secondary-main);
  border: 2px solid var(--awe-palette-divider);
  border-radius: 1.5rem;
  flex: 1 1 0%;
  min-width: 0;
  display: flex;
  flex-direction: column;
  padding: 0.25rem 0;
}

.MiddleInputComposerHelper,
.MiddleInputComposerField {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.1rem 0.5rem;
}

.MiddleInputInputField {
  flex: 1 1 0%;
  min-width: 0;
}

.MiddleInputActions {
  position: relative;
  padding: 0 0.1rem;
  display: flex;
  align-items: center;
}

.MiddleInputToolbarSeparator {
  width: 2px;
  height: 100%;
  border-radius: 2px;
  background: var(--awe-palette-divider, #e0e0e0);
}

.MiddleInputActionsWrapper {
  position: absolute;
  max-height: 30dvh;
  overflow-y: auto;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  background: var(--awe-palette-background-paper, #fff);
  border-radius: 0.5rem;
  box-shadow: var(--awe-shadow-elevation-2, 0 2px 4px rgba(0, 0, 0, 0.1));
}
