.ContactResult {
  padding-inline: 1rem 0.75rem;
  padding-inline-start: 4.75rem !important;
  padding-block: 0.5625rem;
  border-radius: var(--awe-radius-md) !important;
  transition: background-color 200ms ease-in-out;
}
