.ModalGlobalTitle {
  font-size: larger;
  font-weight: bold;
  margin-bottom: 16px;
}

.ModalGlobalSkeleton {
  min-width: 416px;
  min-height: 363px;
  border-radius: 4px;
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.4; }
  100% { opacity: 1; }
}
