.ChatContainer {
  --footer-height: 22px;
  --chat-height: calc(100dvh - var(--footer-height));

  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  height: 100dvh;
}

.Body {
  position: relative;
  display: flex;
  width: 100dvw;
  height: 100%;
  min-height: 100%;
  max-height: 100%;

  @media (max-width: 640px) {
    grid-template-columns: 1fr;
  }
}


.MainContainer {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 3;
}

.Footer {
  z-index: 100;
  overflow: hidden;
  background-color: gray;
}
