.iconContainer {
  height: 30px;
  padding: 0 6px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  max-width: 30px; /* Adjusted to accommodate icon width + padding */
  transition:
    max-width 300ms ease-in-out,
    background-color 300ms ease-in-out;

  &[data-open="true"],
  &[data-has-label="true"]:hover,
  &[data-has-label="true"]:focus-visible {
    max-width: 500px;
    background-color: rgba(var(--awe-palette-primary-mainChannel) / 0.3);
  }

  &:focus-visible {
    outline: 1px solid rgba(var(--awe-palette-primary-mainChannel) / 0.3);
    outline-offset: 4px;
  }

  &:active {
    opacity: 0.7;
  }
}

.iconSVG {
  aspect-ratio: 1;
}

.iconLabel {
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 6px;
}
