.LeftMainBody {
  display: contents;
}

.LeftMainContent {
  width: 100%;
}

.ChatListFab {
  transform: translateY(5rem);
  transition: transform var(--slide-transition);

  &.FabVisible {
    transform: translateY(0) !important;
  }
}

.LeftMainHeader {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0.5rem;
}
