.thread-card {
  position: relative;
  padding: var(--gap-md) 0;
  background: var(--card-bg);
  border-bottom: 1px solid var(--divider);

  &__link {
    inset: 0;
    z-index: 1;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
    position: relative;
    z-index: 2;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
  }

  &__header-list {
    display: flex;
    align-items: center;
    gap: var(--gap-md);
    font-size: var(--font-sm);
    color: var(--text-secondary);

     a {
      cursor: pointer;
      color: var(--link);
      text-decoration: none;
      font-weight: 700;
      &:hover {
        text-decoration: underline;
        color: var(--link-hover);
      }
    }
  }

  &__avatar {
    width: var(--font-lg);
    height: var(--font-lg);
    border-radius: 50%;
    object-fit: cover;
    background: var(--avatar-bg);
  }

  &__username {
    margin: 0;
    color: var(--text-primary);
  }

  &__title-container {
    display: flex;
    align-items: center;
    gap: var(--gap-md);
  }

  &__post-title {
    font-size: var(--font-lg);
    font-weight: 700;
    margin: 0;
    color: var(--text-primary);
  }

  &__more,
  &__action {
    display: flex;
    align-items: center;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
  }

  &__subtitle {
    font-size: var(--font-md);
    color: var(--text-secondary);
    margin: 0;
    line-height: 1.5;
  }

  &__meta {
    font-size: var(--font-sm);
    color: var(--text-disabled);
    line-height: 1.4;

    a {
      cursor: pointer;
      color: var(--link);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        color: var(--link-hover);
      }
    }
  }
}
