.MediaNavigation {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 0.25rem;
  border-radius: var(--awe-radius-md);
  cursor: pointer;
  user-select: none;
  height: 64px;
  width: 100%;
  background-color: var(--awe-palette-secondary-mainChannel / 0.875);
  backdrop-filter: blur(10rem);
  overflow: hidden;
  z-index: 10;
}

.MediaTrackNavigation {
  position: absolute;
  left: 4px;
  transform: scaleY(-1);
}

.slide {
  width: 100%;
  z-index: 1;
  padding-inline-start: 0.75rem;
  will-change: transform, opacity;
}
