.LayoutOutlet {
  --layout-header-z-index: 10;
  --layout-header-height-desktop: 56px;
  --layout-header-height-tablet: 48px;
  --layout-header-height-mobile: 44px;
  --layout-max-width-desktop: 1332px;
  --layout-max-width-tablet: 720px;
  --layout-padding-desktop: 1rem;
  --layout-padding-mobile: 4px;
  --background-pattern: radial-gradient(transparent 1px, #0b1012 1px);
  --blur-effect: blur(10rem);
  --layout-header-height: var(--layout-header-height-desktop);

  z-index: var(--layout-header-z-index);
  overflow-y: auto;
  min-height: 100dvh;
  min-width: 100dvw;
  max-height: 100dvh;
  max-width: 100dvw;
  will-change: scroll-position;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  @media (max-width: 768px) {
    --layout-header-height: var(--layout-header-height-tablet);
  }
  @media (max-width: 480px) {
    --layout-header-height: var(--layout-header-height-mobile);
  }

  @media (max-width: 480px) {
    scrollbar-width: thin;
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 3px;
    }
  }
}

/* Header Component */
.LayoutHeader {
  position: sticky;
  top: 0;
  height: var(--layout-header-height);
  z-index: var(--layout-header-z-index);
  padding: 0 0.5rem;
  display: flex;
  gap: 0.25rem;
  justify-content: space-between;
  align-items: center;
  background-image: var(--background-pattern);
  background-size: 4px 4px;

  @supports (backdrop-filter: blur(0)) {
    backdrop-filter: var(--blur-effect);
    -webkit-backdrop-filter: var(--blur-effect);
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.LayoutHeader__Search {
  flex: 1;
  max-width: 732px;
  margin: 0 auto;

  @media (max-width: 768px) {
    max-width: 100%;
  }
}

.LayoutHeader__SearchContainer {
  z-index: 20;
  transition: width 0.3s;
}

.LayoutBody {
  background-color: var(--awe-palette-background-default);
  width: 100%;
  margin: 0 auto;
  padding: var(--layout-padding-desktop);
  height: calc(100dvh - var(--layout-header-height));

  @media (max-width: 600px) {
    padding: var(--layout-padding-mobile);
  }

  @media (min-width: 768px) {
    max-width: var(--layout-max-width-desktop);
  }
  @media (max-width: 768px) {
    max-width: var(--layout-max-width-tablet);
  }
}
