.PlayerControls {
  position: absolute;
  padding: 1.15rem 1rem 0.15rem 1rem;
  left: 0;
  right: 0;
  bottom: 0; 
  display: flex;
  align-items: center;
}

.Time {
  display: inline;
  font-size: small; 
}

.slider .value {
  font-size: small;
  color: white;
  mix-blend-mode: difference;
  will-change: mix-blend-mode;  
}

.divider {
 margin-left: auto;
 height: 100%;
 width: 100%;
}

.active {
  display: flex;
}

.blendMode {
  mix-blend-mode: difference;
  will-change: mix-blend-mode;
}

.slider {
  z-index: 1;
  position: relative;
  padding-inline: 0.25rem;
  gap: 0.25rem;
  /* slider */
  --slider-width: 60px;
  --slider-height: 6px;
  --slider-bg: var(--awe-palette-secondary-main);
  --slider-border-radius: 999px;
  /* level */
  --level-color: #fff;
  --level-transition-duration: .1s;
  /* icon */
  --icon-margin: 15px;
  --icon-color: var(--slider-bg);
  --icon-size: 25px; mix-blend-mode: difference;
  will-change: mix-blend-mode;  
}

.slider {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider .volume {
  display: inline-block;
  vertical-align: top;
  margin-right: var(--icon-margin);
  color: var(--icon-color);
  width: var(--icon-size);
  height: auto;
}

.slider .level {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--slider-width);
  height: var(--slider-height);
  background: var(--slider-bg);
  overflow: hidden;
  border-radius: var(--slider-border-radius);
  -webkit-transition: height var(--level-transition-duration);
  -o-transition: height var(--level-transition-duration);
  transition: height var(--level-transition-duration);
  cursor: inherit;
}

.slider .level::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0;
  height: 0;
  -webkit-box-shadow: -200px 0 0 200px var(--level-color);
  box-shadow: -200px 0 0 200px var(--level-color);
}

.slider:hover .level {
  height: calc(var(--slider-height) * 2);
}
