.root {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;

  @media screen and (max-width: 600px) {
    gap: 1rem;
    padding: 4px;
  }
}

.community__background {
    background-color: rgba(var(--awe-palette-secondary-mainChannel) / 0.275);

}

.metaContainer {
  font-size: 14px;
  align-self: flex-end;
}

.metaIconWrapper {
  display: flex;
  align-items: center;
  border-radius: 16px;
  gap: 4px;
}
