.communityRoot {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.25rem;
  background-color: var(--awe-palette-background-default);
}

.community__background {
    background-color: rgba(var(--awe-palette-secondary-mainChannel) / 0.275);

}

.metaContainer {
  font-size: 14px;
  align-self: flex-end;
}

.metaIconWrapper {
  display: flex;
  align-items: center;
  border-radius: 16px;
  gap: 4px;
}
