.card {
  padding: 1rem;
  gap: 1rem;
  background-color: var(--awe-palette-background-paper);
}

.cardOverflow {
  border-bottom: 1px solid var(--awe-palette-divider);
}

.aspectRatio {
  max-height: 100px;
  box-shadow: var(--awe-shadow-lg);
  overflow: hidden;
  position: relative;
}

.image {
  width: 100%;
  height: auto;
  display: block;
}

.userShortcut {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media (min-width: 768px) {
    flex-direction: row;
    margin-top: -9.75rem;
  }
}

.startDecorator {
  margin-top: 0.5rem;
  align-self: start;
  z-index: 1;
}

.title {
  font-weight: 700;
  line-height: 1.25;
  font-size: 24px;
}

.endDecorator {
  align-self: end;
  z-index: 1;
}

.avatarCommunity {
  outline: 2px solid var(--awe-palette-background-paper);
  width: 56px;
  height: 56px;
}

.avatarMember {
  width: 24px;
  height: 24px;
}

.divider {
  margin: 1rem 0;
  border: none;
  border-top: 1px solid var(--awe-palette-divider);
}

.membersInfo {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}

.cardActions {
  display: flex;
  flex: 0 1 120px;
}
