.VideoRoot {
  --video-container-gap: 1rem;
  --right-column-breakpoint: 882px;
  --right-column-min-width: 300px;
  --right-column-max-width: 402px;
  --padding-base: 5rem;
  --padding-mobile: 0.5rem;
  --container-gap: var(--video-container-gap);

  display: flex;
  flex-direction: column;
  padding: var(--padding-mobile);
  gap: var(--video-container-gap);
  position: relative;
  overflow: hidden;
  touch-action: pan-y;
  -webkit-overflow-scrolling: touch;

  @media (min-width: 1024px) {
    padding-inline: calc(var(--padding-base));
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    padding-inline: calc(var(--padding-base) / 1.5);
  }

  @media (min-width: 769px) {
    flex-direction: row;
  }

  @media (max-width: 768px) {
    padding: var(--padding-mobile);
  }
}

.LeftColumn {
  flex: 1 1 auto;
  min-width: 0;

  @media (max-width: 768px) {
    padding-inline: 0;
  }
}

.RightColumn {
  max-width: var(--right-column-max-width);
  min-width: var(--right-column-min-width);
  flex-shrink: 0;

  @media (max-width: var(--right-column-breakpoint)) {
    max-width: 100%;
    min-width: 0;
    width: 100%;
    order: 2;
    padding-top: calc(var(--video-container-gap) * 2);
  }
}
